<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/btn.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
</head>
<body>
<div class="container">
    <form action="/goals/new" method="post" name = "goalForm" onsubmit="return checkNull();">
        <div class="navigation">
            <a href="/goals"><img id="back" src="/img/next.png"></a>
            <p id="title">목표 생성</p>
            <img id="hidden-back" src="/img/next.png">
        </div>
        <div class="form-group">
            <input type="text" id="category" name="category" placeholder="목표를 입력하세요" value ="">
        </div>
        <div class="buttons">
            <button type="submit" class="w-btn-outline w-btn-blue-outline">확인</button>
        </div>
    </form>
</div>
<script>
    function checkNull() {
        if(goalForm.category.value.length > 10)  {
            alert("목표는 최대 10글자까지 가능합니다.");
            return false;
        }
        else if(goalForm.category.value == "") {
            alert("목표를 입력해주세요.");
            return false;
        }
        else {
            return true;
        }
    }
</script>
</body>
</html>