<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="/css/easyinput.css">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/btn.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
</head>
<body>
<div class="container">
    <div class="navigation">
        <a href="/todolist"><img id="back" src="/img/next.png"></a>
        <p id="title">목표</p>
        <img id="hidden-back" src="/img/next.png">
    </div>
    <script th:inline="javascript">
            var goals = new Array();
            [# th:each="goals : ${goals}"]
            console.log([[${goals.category}]]);
            goals.push([[${goals}]]);
            [/]
        </script>
    <div id = "goalsList"></div>
    <div class="buttons">
        <button type="button" class="w-btn-outline w-btn-blue-outline" onclick="location.href='/goals/new'">추가하기</button>
    </div>
</div>
<script>
    function makeGoals(goals) {
        const element = document.getElementById("goalsList");
        for(goal in goals) {
        let makeGoalBtn = '<div id=' + goals[goal].category + ' class = \"goal_div\">';
            makeGoalBtn += '<button id=' + goals[goal].category +
            '_btn class = \"goalBtn\" onclick = ' + '"update(\'' + goals[goal].category + '\')">' + goals[goal].category + '</button>';
            makeGoalBtn += '</div>';
        console.log(makeGoalBtn);
        element.innerHTML += makeGoalBtn;
        }
    }
    makeGoals(goals);
</script>
<script>
    function update(value){
        let f = document.createElement('form');
        let obj = document.createElement('input');

        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'category');
        obj.setAttribute('value', value);

        f.appendChild(obj);
        f.setAttribute('method', 'post');
        f.setAttribute('action','/goals/update');
        document.body.appendChild(f);
        console.log(f);
        f.submit();
    }

</script>
</body>
</html>