.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#id, #pw, #name, #message {
    width: 400px;
    height: 50px;
    border: 1px solid gray;
}

h4{
    font-family: Poppins, sans-serif;
    font-size: 30px;
}

button{
    font-family: Poppins, sans-serif;
    width: 350px;
    margin-top: 80px;
}