.container{
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    gap: 120px;
}

#back, #hidden-back{
    width: 20px;
}

#hidden-back{
    visibility: hidden;
}

#title{
    font-size: 26px;
    font-weight: bold;
    margin:0;
}

#profile{
    font-size: 24px;
    font-weight: bold;
    margin:0;
}


.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 70px;
    gap: 20px;
}

input:focus{
    outline : none;
}

#id, #pw, #name, #message, #userContent, #startDate, #endDate, #userCategory, #category {
    background: transparent;
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #6AAFE6;
    width: 400px;
    height: 50px;
}

h4{
    font-size: 30px;
}

button{
    width: 350px;
}

.buttons{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.help{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.link{
    text-decoration-line: none;
    color: gray;
    font-size: 13px;
}