html {
  font-size: 16px;
  height: 100%;
}

.nav-bar {
  position: sticky;
  top:0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  margin:0;
  padding:0;
  border-bottom: 1px solid #e8e6e6;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  list-style-type: none;
}

.nav-bar a{
  text-align: center;
  text-decoration: none;
  color:#161346;
}

.logo, .nav-item{
  padding: 30px;
  cursor:pointer;
}

.logo {
  font-weight: 500;
  font-size: 30px;
  font-family: Poppins, sans-serif;
  line-height: 30px;
}

.logo .accent {
  font-weight: 700;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #161346;
}

@media screen and (min-width: 1000px) {
    main{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-family: 'Nanum Gothic', sans-serif;
        display: grid;
        grid-template-rows: 1fr 1.5fr 7fr;
        grid-template-columns: 450px 500px;
        gap: 0px 120px;
        grid-template-areas:
        'challenges feed'
        'profile feed'
        'calender feed';
    }
}

@media screen and (max-width: 1000px) {
    main {
        font-family: 'Nanum Gothic', sans-serif;
        display: grid;
        grid-template-rows: 1fr 1.5fr 7fr;
        grid-template-columns: 450px 500px;
        gap: 0px 120px;
        grid-template-areas:
        'challenges feed'
        'profile feed'
        'calender feed';
    }
}

@media screen and (max-width: 600px) {
    main {
        font-family: 'Nanum Gothic', sans-serif;
        /*font-family: 'Gowun Dodum', sans-serif;*/
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}

section {
  padding: 32px;
  border-radius: 16px;
  /*background-color: #fff1db;*/
  background-color: #ffffff;
}

.challenges {
  grid-area: challenges;
}

.profile {
  grid-area: profile;
}

.calender {
  grid-area: calender;
}

.feed {
  grid-area: feed;
}

p {
    margin:0;
}

/*profile*/
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile_des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    font-size: large;
}
#nickname{
    font-weight: bold;
}

#profile_modi{
    justify-content: center;
    width: 25px;
    height: 25px;
}


/*calender*/
.cal_container{
    width:380px;
    margin: auto;
}
.cal_nav{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.date, .month-change {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date{
    font-weight: bold;
    font-size: large;
}
.btn{
    background-color: transparent;
    border:none;
    padding:0;
}

.c_btn{
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    border-width:0px;
    padding:0;
    transition: all 0.2s;
}

.c_btnLightBlue {
  background: #5AD2FF;
}

.c_btnFade.c_btnLightBlue:hover {
  background: #1E96FF;
}

.table{
    text-align: center;
    --bs-table-border-color: transparent;
}


/*feed*/
input:focus{
    outline : none;
}

.feed{
    gap: 10px;
}

.feed_nav{
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-weight: bold;
}

#feed_title, #feed_date{
    font-weight: bold;
}

#feed_title{
    font-size: 40px;
}

#feed_date{
    font-size: 20px;
}

.feed_data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px
}

.goal_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo_div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.todos{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkBtn, .modBtn{
    background: transparent;
    border: none;
}

#checkbox{
    width: 30px;
}

#content{
    width: 355px;
    background: transparent;
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #0078FF;
}


.addBtn, .okBtn {
    width: 45px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    background: transparent;
    border-color: #0078FF;
    color: #0078FF;
}

.popupBtn {
    width: 360px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    background: transparent;
    border-color: #0078FF;
    color: #0078FF;
}

.popupBtn2 {
    width: 170px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    background: transparent;
    border-color: #0078FF;
    color: #0078FF;
}

#additionalImg{
    width: 20px;
}

#title{
    text-align: center;
}