<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
<div class="container">
    <h1>목표</h1>
    <form action="/goals" method="post">
        <div class="form-group">
            <input type="text" id = "userCategory" name = "category" value = "">
            <input type="hidden" id = "userId" name = "id" value="">
            <input type = "hidden" id = "deleteCategory" name = "delete" value = "">
            <button type = "submit" id = "submit">확인</button>
            <input type="button" value = "삭제" onclick = "deleteGoal();">
        </div>

        <div id = "popDelete" style="display:none">
            <p>정말 목표를 삭제하시겠습니까?</p>
            <p>포함되어 있던 할 일들은 모두 삭제됩니다.</p>
            <input type = "button" id = "nodelete" onclick = "noDelete()" value = "취소">
            <input type = "button" id = "yesdelete" onclick = "yesDelete()" value = "삭제">
        </div>
    </form>
</div>
<script th:inline = "javascript">
    var update_value = [[${goal.category}]];
    document.getElementById("userCategory").value = update_value;
    var id = [[${goal.id}]];
    document.getElementById("userId").value = id;

    function deleteGoal() {
        document.getElementById('popDelete').style.display = "block";
    }
    function noDelete() {
        document.getElementById('popDelete').style.display = "none";
    }
    function yesDelete(){
        document.getElementById("deleteCategory").value = "delete";
        document.getElementById('submit').click();
    }
</script>
</body>
</html>