<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/btn.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="container">
    <form action="/goals" method="post">
        <div class="navigation">
            <a href="/goals"><img id="back" src="/img/next.png"></a>
            <p id="title">목표 수정</p>
            <img id="hidden-back" src="/img/next.png">
        </div>
        <div class="form-group">
            <input type="text" id = "userCategory" name = "category" value = "">
            <input type="hidden" id = "userId" name = "id" value="">
            <input type = "hidden" id = "deleteCategory" name = "delete" value = "">
        </div>
        <div class="buttons">
            <button type="submit" class="w-btn-outline w-btn-blue-outline">확인</button>
            <button type="submit" class="w-btn-outline w-btn-blue-outline" onclick="deleteGoal();">삭제</button>
        </div>
    </form>
</div>
<script th:inline = "javascript">
    var update_value = [[${goal.category}]];
    document.getElementById("userCategory").value = update_value;
    var id = [[${goal.id}]];
    document.getElementById("userId").value = id;

    function deleteGoal() {
        alert("정말 삭제하시겠습니까?\n포함되어 있던 할 일들은 모두 삭제됩니다.");
        document.getElementById("deleteCategory").value = "delete";
        document.getElementById('submit').click();
    }
</script>
</body>
</html>