<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="/css/home.css">-->
<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="/css/homestyle.css">
  <link rel="stylesheet" href="/css/btn.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  </style>
</head>

<body>
  <div class="contents">
    <div class="intro">
      <img src="/img/pic.png" width="100px">
      <h1 id="logo">TodoChallenger</h1>
      <h3 id="introduce">할 일을 작성, 계획, 관리하세요</h3>
    </div>
    <div class="start">
      <button type="button" class="w-btn-outline w-btn-blue-outline" onclick="location.href='login'">로그인</button>
      <button type="button" class="w-btn-outline w-btn-blue-outline" onclick="location.href='signUp'">회원가입</button>
    </div>
  </div> <!-- /container -->
</body>

<script>
  document.querySelectorAll('.button').forEach(button => button.innerHTML = '<div><span>' + button.textContent.trim().split('').join('</span><span>') + '</span></div>');
</script>
</html>
