<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="/css/home.css">-->
<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="/css/homestyle.css">
  <link rel="stylesheet" href="/css/btn.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&display=swap"
          rel="stylesheet"
  >
</head>

<body>
  <div class="contents">
    <div class="intro">
      <img src="/img/pic.png" width="100px">
      <h1>todo challenger</h1>
      <h2>할 일을 작성, 계획, 관리하세요</h2>
    </div>
    <div class="start">
      <button type="button" class="w-btn-outline w-btn-blue-outline" onclick="location.href='login'">로그인</button>
      <button type="button" class="w-btn-outline w-btn-blue-outline" onclick="location.href='signUp'">회원가입</button>
    </div>
  </div> <!-- /container -->
</body>

<script>
  document.querySelectorAll('.button').forEach(button => button.innerHTML = '<div><span>' + button.textContent.trim().split('').join('</span><span>') + '</span></div>');
</script>
</html>
