<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/btn.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
</head>
<body>
<div class="container">
    <h4>로그인</h4>
    <form th:action="@{/login_proc}" method="post">
        <div class="form-group">
            <input type="text" id="id" name="username" placeholder="아이디를 입력해주세요">
            <input type="text" id="pw" name="password" placeholder="비밀번호를 입력해주세요">
        </div>
        <button type="submit" class="w-btn-outline w-btn-blue-outline">확인</button>
    </form>
    <div class="help">
        <a class="link" href="/signUp">회원가입</a>
        <a class="link" href="/">비밀번호를 잊었다면?</a>
    </div>
</div>

</body>

</html>