<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/btn.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&display=swap"
            rel="stylesheet"
    >
</head>
<body>
<div class="container">
    <h4>프로필 수정</h4>
    <form action="/profile_edit" method="post">
        <div class="form-group">
            <input type="file" id="img" name="userImg" multiple="multiple">
            <input type="text" id="name" name="userUpdateName" placeholder="이름">
            <input type="text" id="intro" name="userIntro" placeholder="한줄소개">
        </div>
        <button type="submit" class="w-btn-outline w-btn-blue-outline">저장하기</button>
    </form>
</div>
</body>

</html>