<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="/css/loginstyle.css">
  <link rel="stylesheet" href="/css/btn.css">
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  </style>
</head>

<body>
<div class="container">
  <form action="/signUp" method="post">
    <div class="navigation">
      <a href="/"><img id="back" src="/img/next.png"></a>
      <p id="title">회원가입</p>
      <img id="hidden-back" src="/img/next.png">
    </div>
    <div class="form-group">
      <input type="text" id="name" name="userName" placeholder="닉네임을 입력해주세요">
      <input type="text" id="id" name="userId" placeholder="아이디를 입력해주세요">
      <input type="text" id="pw" name="userPw" placeholder="비밀번호를 입력해주세요">
    </div>
    <button type="submit" class="w-btn-outline w-btn-blue-outline">등록</button>
  </form>
</div>
</body>
</html>