<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoChallengers</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
<!--    <style>-->
<!--      @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');-->
<!--    </style>-->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
  </head>
  <!-- css file 연결 -->
  <link rel="stylesheet" href="/css/todostyle.css">
  <link rel="stylesheet" href="/css/goalBtn.css">
  <link rel="stylesheet" href="/css/menu.css">
  <script type = "text/javascript"></script>

  <body>
  <nav>
    <ul class="nav-bar">
        <li class="logo"><a href=""><span class="accent">TodoChallengers</span></a></li>
        <li class="nav-item">
          <a href="/logout_proc">로그아웃</a>
          <button type="button" id="menuButton" onclick = "fadePopUp()"><img src="/img/menu.png" width=30 height=30></button>
        </li>
      </ul>
  </nav>
  <div id = "popup" style="display:none">
    <div id="popmenu">
      <p><a class="menu" href = "/goals">목표</a></p>
      <p><a class="menu" href = "/easyinput">간편입력</a></p>
    </div>
  </div>
  <main>
      <section class="challenges">
        <!-- 챌린지 바 부분 -->

        <div class="list">
          <div>
            <table>
              <!--              <thead>-->
              <!--              챌린지-->
              <!--              </thead>-->
              <tbody>
              <td th:each="challenge : ${challenges}">
                <!--                <td>-->
                <input type="hidden"
                       id="end_date"
                       name="end_date"
                       th:value="${challenge.end_date}">
                <input type="hidden"
                       id="start_date"
                       name="start_date"
                       th:value="${challenge.start_date}">

                <script th:inline="javascript">
                var title = [[${challenge.title}]];
                var start_date = [[${challenge.start_date}]];
                var end_date = [[${challenge.end_date}]];
                var today = new Date().toISOString().substring(0,10);
                var diff = Date.parse(end_date) - Date.parse(today);
                var diffDay = Math.floor(diff / (1000*60*60*24));
            </script>

                <a th:href="@{'/challenge/'+${challenge.title}}">
                  <script th:inline="javascript">
                    if(diffDay>0 && start_date<=today){
                        document.writeln(title);
                    }
                </script>
                  </th:block>
                </a>
                <!--                </td>-->
                <!--                <td>-->
                <br>
                <script th:inline="javascript">
                if(diffDay>0 && start_date<=today){
                    document.write("D-" + diffDay);
                }
            </script>
                <!--                </td>-->
              </td>
              </tbody>
            </table>
          </div>
        </div>
        <a href="/challenges/new">챌린지추가</a>
      </section>
      <section class="profile">
        <img class="profile_img" src="/img/profile_img.jpg" >
        <div class="profile_des">
          <p id="nickname" th:text="${name}">profile id</p>
          <p id="message" th:text="${message}">profile message</p>
        </div>
        <a href="/profile_edit"><img id="profile_modi" src="/img/gear.png"></a>
        <!-- 프로필(사진, 닉네임, 한줄소개) -->
      </section>
      <section id="calender">
        <!-- 캘린더 -->
        <div class="cal_container">
          <div class="cal_nav"> <!--상단바-->
            <div class="date">
              <p th:text="${year}+'년'">year</p>
              <p th:text="${month}+'월'">month</p>
<!--              <input type="text" id="year" class="form-control" th:value="${year}"/>년-->
<!--              <input type="text" id="month" class="form-control" th:value="${month}"/>월-->
            </div>
            <form action="/todolist" method="post" class="month-change">
              <button type="submit" name="diff" value="-1" class="btn"><i class="fa fa-chevron-left"></i></button>
              <button type="submit" name="diff" value="1" class="btn"><i class="fa fa-chevron-right"></i></button>
            </form>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
              <th>토</th>
              <th>일</th>
            </tr>
            </thead>
            <!-- 현재사용자가 지정한 연도가 나오게 할 것임 -->
            <tbody id="tb_body"></tbody>
          </table>
        </div>
      </section>
      <section class="feed">
        <!-- feed 은화언니 부분 -->
        <script th:inline="javascript">
          order_num = []
          [# th:each="id : ${id}"]
          var user_id = [[${id}]]
          [/]
          console.log(user_id);
          var goals = new Array();
          [# th:each="goals : ${goals}"]
          if([[${id}]]==[[${goals.userId}]]){
            goals.push([[${goals}]]);
          }
          [/]

          var todos = new Array();
          [# th:each="todos : ${todos}"]
          if([[${id}]]==[[${todos.userId}]]){
            if([[${feed_date}]]==[[${todos.date}]]){
              todos.push([[${todos}]]);
            }
          }
          [/]
          function sortByOrderNum(array){
              array.sort(function(a,b){return a.orderNum - b.orderNum})
          }

          sortByOrderNum(goals);
          sortByOrderNum(todos);

          function saveOrderNum(todos){
              for(todo in todos){
                  order_num.push(todos[todo].orderNum)
              }
          }

          saveOrderNum(todos);

        </script>
        <div class="feed_nav">
          <p id="feed_title">Feed</p>
          <p id="feed_date" th:text="${feed_date}">feed_date</p>
        </div>
        <div id="feed" class="feed_data"></div>
      </section>
    </main>
  </body>
  <script>
  function fadePopUp() {
    document.getElementById("popup").style.display = "block";
  }

  let year=[[${year}]];
  let month=[[${month}]];
  console.log(year);

  function render_cal(year, month){
    let data=[[${cal}]];
    let h=[];

    for(let i=0; i<data.length; i++){
      if(i==0){
        h.push('<tr>');
      }
      else if(i%7==0){
        h.push('</tr>');
        h.push('<tr>');
      }

      if(data[i]==undefined){
        h.push('<td></td>');
      }
      else{
        h.push('<td><form action="/todolist" method="post"><button type="submit" name="feed_date" class="c_btn c_btnFade c_btnLightBlue" value="'+year+'-'+leftPad(month)+'-'+leftPad(data[i])+'"></button></form>'+data[i]+'</td>');
      }
    }
    console.log(h);
    $("#tb_body").html(h.join(""));
  }

  render_cal(year, month);

  function display(year, month, date){
    console.log('ㅎㅇ');
    if(date != null){
      alert(year+"년"+month+"월"+date+"일");
    }
  }

  <!-- feed 은화언니 부분 -->
   function leftPad(value) {
        if (value >= 10) {
            return value;
        }

        return `0${value}`;
  }

  function toStringByFormatting(source, delimiter = '-') {
      const year = source.getFullYear();
      const month = leftPad(source.getMonth() + 1);
      const day = leftPad(source.getDate());

      return [year, month, day].join(delimiter);
  }

  function addEventToGoalBtn(category_div,category_btn){
      document.addEventListener('DOMContentLoaded', () => {
          const cat_div = document.querySelector('#'+category_div);
          const cat_btn = document.querySelector('#'+category_btn);

          cat_btn.addEventListener('click', (event) => {
              const item = document.createElement('div');

              <!-- content 입력창 -->
              const textField = document.createElement('input');
              textField.setAttribute('type', 'text');
              textField.setAttribute('id','content');
              textField.setAttribute('name','content');



              <!-- content insert form -->
              const form = document.createElement('form');
              form.setAttribute('action','/insertTodo');
              form.setAttribute('method','post');

              <!-- goal_id 넘겨주기 -->
              const goalId = cat_div.getAttribute('value');
              const sendGoalId = document.createElement('input');
              sendGoalId.setAttribute('type','hidden');
              sendGoalId.setAttribute('id','goalId');
              sendGoalId.setAttribute('name','goalId');
              sendGoalId.setAttribute('value',goalId);

              <!-- content 의 orderNum 설정 -->
              if (order_num.length === 0) {
                  newOrderNum = 0
              }else {
                  console.log("last orderNum:" + order_num[order_num.length-1]);
                  newOrderNum = order_num[order_num.length-1] + 1;
              }

              console.log(newOrderNum);

              <!-- orderNum 넘겨주기 -->
              const sendOrderNum = document.createElement('input');
              sendOrderNum.setAttribute('type','hidden');
              sendOrderNum.setAttribute('id','orderNum');
              sendOrderNum.setAttribute('name','orderNum');
              sendOrderNum.setAttribute('value', newOrderNum);

              <!-- content 추가 버튼 -->
              const addBtn = document.createElement('input');
              addBtn.setAttribute('type','submit');
              addBtn.setAttribute('class', 'addBtn');
              addBtn.setAttribute('value', '추가');

              form.appendChild(textField);
              form.appendChild(sendGoalId);
              form.appendChild(sendOrderNum);
              form.appendChild(addBtn);
              item.appendChild(form);
              cat_div.appendChild(item);
          })
      })
  }

  function addEventToModBtn(id,id_btn){
      document.addEventListener('DOMContentLoaded', () => {
          <!-- content 큰 div -->
          const div = document.getElementById(id+'_div')
          <!-- todo id를 담은 div -->
          const todo_div = document.getElementById(id)
          const todo_btn = document.getElementById(id_btn)

          const originContent = todo_div.getAttribute('value')

          todo_btn.addEventListener('click', (event) => {

              const form = document.createElement('form')
              form.setAttribute('action','/updateTodo')
              form.setAttribute('method','post')



              const changeContent = document.createElement('input')
              changeContent.setAttribute('type','text')
              changeContent.setAttribute('name','content')
              changeContent.setAttribute('id','content')
              changeContent.setAttribute('value',originContent)

              const okBtn = document.createElement('input')
              okBtn.setAttribute('class', 'okBtn');
              okBtn.setAttribute('type','submit')
              okBtn.setAttribute('name','mode')
              okBtn.setAttribute('value','수정하기')


              const tomorrowBtn = document.createElement('input')
              tomorrowBtn.setAttribute('type','submit')
              tomorrowBtn.setAttribute('name','mode')
              tomorrowBtn.setAttribute('value','내일 하기')


              const deleteBtn = document.createElement('input')
              deleteBtn.setAttribute('type','submit')
              deleteBtn.setAttribute('name','mode')
              deleteBtn.setAttribute('value','삭제하기')


              const sendTodoId = document.createElement('input')
              sendTodoId.setAttribute('type','hidden')
              sendTodoId.setAttribute('name','id')
              sendTodoId.setAttribute('value',id)


              form.appendChild(changeContent)
              form.appendChild(okBtn)
              form.appendChild(tomorrowBtn)
              form.appendChild(deleteBtn)
              form.appendChild(sendTodoId)
              div.appendChild(form)
              todo_div.remove()
              todo_btn.remove()


          })

      })
  }

   function setTodos(goals, todos) {
      <!-- feed div 받아옴 -->
      const feedDiv = document.querySelector('#feed')
      for(goal in goals){
          <!-- goal div 생성 -->
          const goalDiv = document.createElement('div')
          goalDiv.setAttribute('id',goals[goal].category+'_div')
          goalDiv.setAttribute('class','goal_div')
          goalDiv.setAttribute('value',goals[goal].id)

          <!-- goal button 생성 -->
          const goalBtn = document.createElement('button')
          goalBtn.setAttribute('id',goals[goal].category+'_btn')
          goalBtn.setAttribute('class', 'button btnFade btnLightBlue')
          goalBtn.textContent = goals[goal].category

          <!-- goal event 추가 -->
          addEventToGoalBtn(goals[goal].category+'_div',goals[goal].category+'_btn')
          goalDiv.appendChild(goalBtn)
          feedDiv.appendChild(goalDiv)

          for(todo in todos){
              if(todos[todo].goalId == goals[goal].id){
                  <!-- todo content div 추가 -->
                  const div = document.createElement('div')
                  div.setAttribute('id',todos[todo].id+'_div')

                  const form = document.createElement('form')
                  form.setAttribute('action','/updateTodo')
                  form.setAttribute('method','post')

                  const checkBtn = document.createElement('button')
                  checkBtn.setAttribute('name','isChecked')
                  checkBtn.setAttribute('value',todos[todo].isChecked)
                  checkBtn.textContent = todos[todo].isChecked

                  const hiddenMode = document.createElement('input')
                  hiddenMode.setAttribute('type','hidden')
                  hiddenMode.setAttribute('name','mode')
                  hiddenMode.setAttribute('value','check')

                  const hiddenId = document.createElement('input')
                  hiddenId.setAttribute('type','hidden')
                  hiddenId.setAttribute('name','id')
                  hiddenId.setAttribute('value',todos[todo].id)

                  const todoDiv = document.createElement('div')
                  todoDiv.setAttribute('id',todos[todo].id)
                  todoDiv.setAttribute('class','todos')
                  todoDiv.setAttribute('value',todos[todo].content)
                  todoDiv.textContent = todos[todo].content

                  <!-- 수정 버튼 -->
                  const modBtn = document.createElement('button')
                  modBtn.setAttribute('id',todos[todo].id+'_btn')
                  modBtn.setAttribute('class', 'modBtn');
                  addEventToModBtn(todos[todo].id,todos[todo].id+'_btn')
                  modBtn.textContent = '수정'

                  form.appendChild(checkBtn)
                  form.appendChild(hiddenMode)
                  form.appendChild(hiddenId)
                  todoDiv.appendChild(form)
                  todoDiv.appendChild(modBtn)
                  div.appendChild(todoDiv)
                  feedDiv.appendChild(div)

              }
          }
      }
  }
  setTodos(goals, todos);
</script>
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>
